<!-- Testimonials -->
<section id="clients" class="clients parallax2">

	<div class="inner clientimages">

		<ul class="inline">
			<li class="padded"><%= image_tag('clients/HSBC.png') %></li>
			<li class="padded"><%= image_tag('clients/coke.png') %></li>
			<li class="padded"><%= image_tag('clients/toyota.png') %></li>
			<li class="padded"><%= image_tag('clients/guiness.png') %></li>
			<li class="padded"><%= image_tag('clients/jaguar.png') %></li>
			<li class="padded"><%= image_tag('clients/ogilvy.png') %></li>
			<li class="padded"><%= image_tag('clients/reebok.png') %></li>
			<li class="padded"><%= image_tag('clients/saatchi.png') %></li>
			<li class="padded"><%= image_tag('clients/sky.png') %></li>
			<li class="padded"><%= image_tag('clients/DLKW.png') %></li>
			<li class="padded"><%= image_tag('clients/gridtrax.png') %></li>
			<li class="padded"><%= image_tag('clients/tag.png') %></li>
			<li class="padded"><%= image_tag('clients/closeup.png') %></li>
			<li class="padded"><%= image_tag('clients/unilver.png') %></li>
		</ul>

	</div><!-- End Inner Div -->

</section><!-- End Testimonials Section -->