<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  	<title>One Tree Music | Passionate about music and image</title>
	<meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	
	<%= stylesheet_link_tag "application", :media => "all" %>
  	<%= csrf_meta_tags %>
</head>
<body>


	<!-- Page Loader -->
	<section id="pageloader">
		<div class="loader-item fa fa-spin colored-border"></div>
	</section>
	
	<% if controller.controller_name == 'home' %>
		<%= render 'layouts/header' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	<% else %>
		<%= yield %>
	<% end %>
	
	<%= javascript_include_tag "application" %>


</body>
</html>